Repository bitquan/toolspace, changes with the labels that .github/labeler.yml gives for each.
All labels: tool:quick-invoice, tool:text-tools, tool:file-merger, area:backend, area:frontend, area:devops, area:docs, area:security, size:xs, size:s, size:l

docs: add CI consolidation summary
  docs/ops/CI_CONSOLIDATION_SUMMARY.md
Labels: area:docs, size:s

test: fix withAuth.test.ts import paths and jest config
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-ci.yml
  .github/workflows/security-gates.yml
  .github/workflows/ui-smoke.yml
  README.md
  docs/ENVIRONMENT.md
  docs/backend/API.md
  docs/backend/SETUP.md
  docs/compliance/legal.md
  docs/development/coding-standards.md
  docs/ops/CI_CONSOLIDATION_SUMMARY.md
  docs/support/troubleshooting.md
  functions/jest.config.js
  functions/src/middleware/__tests__/withAuth.test.ts
  functions/src/middleware/withAuth.ts
  functions/tsconfig.json
  lib/auth/guards/route_guards.dart
  lib/auth/helpers/reauth_helper.dart
  lib/auth/screens/account_screen.dart
  lib/auth/screens/email_verification_screen.dart
  lib/auth/screens/password_reset_screen.dart
  lib/auth/screens/signin_screen.dart
  lib/auth/screens/signup_screen.dart
  lib/auth/services/auth_service.dart
  lib/auth/widgets/auth_form_field.dart
  lib/auth/widgets/email_verification_dialog.dart
  lib/billing/widgets/plan_status_banner.dart
  lib/screens/landing/widgets/cta_button.dart
  lib/screens/landing/widgets/features_grid.dart
  lib/screens/landing/widgets/hero_section.dart
  lib/screens/landing/widgets/landing_nav_bar.dart
  lib/screens/landing/widgets/pricing_section.dart
  lib/screens/landing/widgets/social_proof_section.dart
  local-ci/pr-ci-summary.json
  local-ci/summary.md
  test/widget_test.dart
Labels: area:backend, area:frontend, area:devops, area:docs, area:security, size:xs, size:s, size:l

fix: resolve CI test failures and platform compatibility issues
  .github/workflows/pr-ci.yml
  .github/workflows/security-gates.yml
  functions/src/middleware/__tests__/withAuth.test.ts
  lib/tools/csv_cleaner/csv_cleaner_screen.dart
  lib/tools/csv_cleaner/csv_cleaner_web.dart
  lib/tools/csv_cleaner/csv_cleaner_web_stub.dart
  local-ci/pr-ci-summary.json
  local-ci/summary.md
Labels: area:backend, area:frontend, area:devops, area:security, size:l

chore: clean up csv_cleaner web implementations
  lib/tools/csv_cleaner/csv_cleaner_screen.dart
  lib/tools/csv_cleaner/csv_cleaner_web.dart
Labels: area:frontend, size:l

fix: workflow CI failures - remove test tag requirement and duplicate config flag
  .github/workflows/security-gates.yml
  .github/workflows/ui-smoke.yml
Labels: area:devops

fix: jest config path in test/security package.json
  test/security/package.json
Labels: none

fix(ci): rename jest.security.config.js to .cjs for ESM compat
  jest.security.config.cjs
  local-ci/pr-ci-summary.json
  local-ci/summary.md
  test/security/package.json
Labels: none

fix(test): add Firebase mocks for landing page tests
  test/golden/landing_golden_test.dart
  test/navigation/landing_nav_test.dart
  test/test_helpers/firebase_test_helper.dart
Labels: none

fix(ci): tag Firebase-dependent landing tests, exclude from PR CI
  .github/workflows/pr-ci.yml
  local-ci/pr-ci-summary.json
  local-ci/summary.md
  test/golden/landing_golden_test.dart
  test/navigation/landing_nav_test.dart
  test/test_helpers/firebase_test_helper.dart
Labels: area:devops

fix(ci): final CI fixes - Security Gates jest path + widget_test tag
  test/security/package.json
  test/widget_test.dart
Labels: none

fix(ci): move jest.security.config.cjs into test/security/
  test/security/jest.security.config.cjs
  test/security/package.json
Labels: none

fix(ci): exclude requires-firebase tags from preflight
  scripts/preflight.mjs
Labels: none

fix(ci): start Firebase emulators for rules tests
  .github/workflows/security-gates.yml
Labels: area:devops

fix(ci): install Firebase CLI for rules tests
  .github/workflows/security-gates.yml
Labels: area:devops

fix(ci): run Firebase emulators from root directory
  .github/workflows/security-gates.yml
Labels: area:devops

fix(ci): use firebase emulators:exec for rules tests
  .github/workflows/security-gates.yml
Labels: area:devops

fix(ci): use minimal firebase config for emulators
  .github/workflows/security-gates.yml
Labels: area:devops

fix(ci): temporarily hide firebase.json from emulators
  .github/workflows/security-gates.yml
Labels: area:devops

fix(ci): minimal firebase.json with storage rules config
  .github/workflows/security-gates.yml
Labels: area:devops

ci: make Security Gates non-blocking
  .github/workflows/security-gates.yml
Labels: area:devops

ci: make Deploy workflow non-blocking
  .github/workflows/deploy.yml
Labels: area:devops

feat(ci): add one-click workflow cleanup tool
  .github/workflows/cleanup-workflows.yml
Labels: area:devops

feat(deploy): setup Firebase Hosting auto-deploy
  .github/workflows/deploy.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  local-ci/pr-ci-summary.json
  local-ci/summary.md
  test_output.txt
Labels: area:backend, area:devops

feat(phase-3): create cross-tool infrastructure and 11 GitHub issues
  .github/ISSUE_TEMPLATE/phase3-issues.md
  lib/shared/cross_tool/handoff_store.dart
  lib/shared/cross_tool/share_bus.dart
  lib/shared/cross_tool/share_envelope.dart
  lib/shared/cross_tool/share_intent.dart
  lib/tools/invoice_lite/models.dart
  scripts/create-phase3-issues.mjs
Labels: area:frontend, area:devops, size:xs, size:l

docs(phase-3): add comprehensive implementation summary
  docs/roadmap/phase-3-implementation-summary.md
Labels: area:docs, size:s

feat(invoice-lite): add service layer with mock backend + tests
  dev-log/phase-3-2025-10-09-invoice-lite-service.md
  docs/tools/invoice-lite.md
  lib/tools/invoice_lite/backend_adapter.dart
  lib/tools/invoice_lite/exceptions.dart
  lib/tools/invoice_lite/invoice_lite_service.dart
  lib/tools/invoice_lite/models.dart
  lib/tools/invoice_lite/models/business_info.dart
  lib/tools/invoice_lite/models/client_info.dart
  lib/tools/invoice_lite/models/invoice_item.dart
  lib/tools/invoice_lite/models/invoice_lite.dart
  lib/tools/invoice_lite/models/models.dart
  lib/tools/invoice_lite/money_fmt.dart
  test/tools/invoice_lite/invoice_lite_service_test.dart
Labels: area:frontend, area:docs, size:s, size:l

fix(auth): remove auto-signout on app startup
  lib/main.dart
Labels: area:frontend, size:l

docs: add auth sign-in bug fix documentation
  AUTH_SIGNIN_FIX.md
Labels: area:docs, size:xs

fix(auth): improve email verification UX
  lib/auth/screens/email_verification_screen.dart
  lib/auth/services/auth_service.dart
Labels: area:frontend, size:l

docs: add email verification UX fix documentation
  AUTH_EMAIL_VERIFICATION_FIX.md
Labels: area:docs, size:xs

fix(auth): remove external Google logo causing CORS errors
  lib/auth/widgets/google_sign_in_button.dart
Labels: area:frontend, size:l

feat(cross-tool): implement ShareToolbar widget and initial integrations
  lib/cross/widgets/share_toolbar.dart
  lib/tools/json_doctor/json_doctor_screen.dart
  lib/tools/text_tools/text_tools_screen.dart
Labels: area:frontend, size:l

feat(billing): add new heavy tools to pricing configuration
  config/pricing.json
Labels: none

feat(phase3): complete cross-tool integration & billing system
  .github/ISSUE_TEMPLATE/phase3-issues.md
  .vscode/tasks.json
  AUTH_EMAIL_VERIFICATION_FIX.md
  AUTH_SIGNIN_FIX.md
  DEV_MANUAL.md
  SPRINT_SETUP.md
  core/routes.dart
  dev-log/phase-3-2025-10-09-invoice-lite-service.md
  dev-log/phase-3-finisher-complete-implementation.md
  dev-start.ps1
  docs/billing-paywall-system.md
  docs/cross-tool-interoperability.md
  docs/e2e-local-checklist.md
  docs/tools/invoice-lite.md
  functions/src/index.ts
  functions/src/tools/invoice_lite/generatePdf.ts
  functions/src/tools/invoice_lite/paymentLink.ts
  lib/billing/widgets/paywall_guard.dart
  lib/core/routes.dart
  lib/cross/widgets/share_toolbar.dart
  lib/dev/e2e_playground.dart
  lib/screens/neo_home_screen.dart
  lib/tools/audio_converter/audio_converter_screen.dart
  lib/tools/file_compressor/file_compressor_screen.dart
  lib/tools/invoice_lite/backend_adapter.dart
  lib/tools/invoice_lite/exceptions.dart
  lib/tools/invoice_lite/invoice_lite_screen.dart
  lib/tools/invoice_lite/invoice_lite_service.dart
  lib/tools/invoice_lite/models/invoice_lite.dart
  lib/tools/invoice_lite/money_fmt.dart
  lib/tools/text_tools/text_tools_screen.dart
  local-ci/pr-ci-summary.json
  local-ci/summary.md
  scripts/create-phase3-issues.mjs
  scripts/dev-local.ps1
  test/cross/share_bus_test.dart
Labels: area:backend, area:frontend, area:devops, area:docs, size:xs, size:s, size:l

fix: Remove debug mode check blocking production billing checkout
  dev-log/phase-3-finisher-complete-implementation.md
  docs/billing-paywall-system.md
  docs/cross-tool-interoperability.md
  lib/billing/widgets/upgrade_sheet.dart
  lib/tools/json_doctor/json_doctor_screen.dart
  local-ci/pr-ci-summary.json
  local-ci/summary.md
Labels: area:frontend, area:docs, size:s, size:l

fix: Resolve major analysis issues for clean deployment
  core/routes.dart
  lib/tools/audio_converter/audio_converter_screen.dart
  lib/tools/file_compressor/file_compressor_screen.dart
  lib/tools/invoice_lite/invoice_lite_screen.dart
  lib/tools/json_doctor/json_doctor_screen.dart
  local-ci/pr-ci-summary.json
  local-ci/summary.md
Labels: area:frontend, size:l

fix: Resolve billing checkout session creation issues
  functions/src/billing/entitlements.ts
  functions/src/config/pricing.json
  lib/billing/billing_service.dart
  lib/billing/widgets/upgrade_sheet.dart
  local-ci/pr-ci-summary.json
  local-ci/summary.md
Labels: area:backend, area:frontend, size:l

fix: Allow test Stripe keys in toolspace-beta environment
  functions/src/config/validation.ts
  lib/billing/billing_service.dart
Labels: area:backend, area:frontend, size:l

fix: Remove conflicting customer_email parameter in Stripe checkout
  functions/src/billing/createCheckoutSession.ts
Labels: area:backend, size:l

feat: Complete Phase 3 Finisher - Cross-Billing E2E Implementation
  functions/src/billing/updateUserPlan.ts
  functions/src/billing/webhook.ts
  functions/src/config/pricing.json
  functions/src/index.ts
  functions/src/quickUpdate.ts
Labels: area:backend, size:l

.github/labeler.yml:

# Auto-labeling configuration for pull requests

# Tool-specific labels
tool:quick-invoice:
  - "tools/quick_invoice/**"
  - "docs/tools/quick_invoice.md"

tool:text-tools:
  - "tools/text_tools/**"
  - "docs/tools/text_tools.md"

tool:file-merger:
  - "tools/file_merger/**"
  - "docs/tools/file_merger.md"

# Area labels
area:backend:
  - "functions/**"
  - "firebase.json"
  - "firestore.rules"
  - "firestore.indexes.json"
  - "storage.rules"

area:frontend:
  - "lib/**"
  - "core/**"
  - "pubspec.yaml"

area:devops:
  - ".github/**"
  - "firebase.json"

area:docs:
  - "docs/**"
  - "*.md"
  - "README.md"

area:security:
  - "firestore.rules"
  - "storage.rules"
  - "functions/src/middleware/**"
  - "functions/src/util/guards.ts"

# Size estimation based on file patterns
size:xs:
  - "*.md"
  - ".github/ISSUE_TEMPLATE/**"

size:s:
  - "docs/**"
  - any: ["*.md", "*.yml", "*.yaml", "*.json"]

size:l:
  - "functions/src/**"
  - "lib/**"
  - "core/**"
