Repository bitquan/toolspace, changes with the labels that .github/labeler.yml gives for each.
All labels: tool:quick-invoice, tool:text-tools, tool:file-merger, area:backend, area:frontend, area:devops, area:docs, area:security, size:xs, size:s, size:l

.github/labeler.yml:

# Auto-labeling configuration for pull requests

# Tool-specific labels
tool:quick-invoice:
  - "tools/quick_invoice/**"
  - "docs/tools/quick_invoice.md"

tool:text-tools:
  - "tools/text_tools/**"
  - "docs/tools/text_tools.md"

tool:file-merger:
  - "tools/file_merger/**"
  - "docs/tools/file_merger.md"

# Area labels
area:backend:
  - "functions/**"
  - "firebase.json"
  - "firestore.rules"
  - "firestore.indexes.json"
  - "storage.rules"

area:frontend:
  - "lib/**"
  - "core/**"
  - "pubspec.yaml"

area:devops:
  - ".github/**"
  - "firebase.json"

area:docs:
  - "docs/**"
  - "*.md"
  - "README.md"

area:security:
  - "firestore.rules"
  - "storage.rules"
  - "functions/src/middleware/**"
  - "functions/src/util/guards.ts"

# Size estimation based on file patterns
size:xs:
  - "*.md"
  - ".github/ISSUE_TEMPLATE/**"

size:s:
  - "docs/**"
  - any: ["*.md", "*.yml", "*.yaml", "*.json"]

size:l:
  - "functions/src/**"
  - "lib/**"
  - "core/**"

fix(ci): add package-lock.json, enable web platform, install playwright
  package-lock.json
  package.json
  test/security/package-lock.json
  test/widget_test.dart
Labels: none

chore(ci): consolidate pipelines (lean PR + heavy nightly), remove auto-assign/auto-PR bots, keep cleanup, update branch protection docs
  .github/workflows/auto-approve-copilot-prs.yml.disabled
  .github/workflows/auto-approve-copilot.yml
  .github/workflows/auto-approve-copilot.yml.disabled
  .github/workflows/auto-assign-issues.yml.disabled
  .github/workflows/auto-pr.yml.disabled
  .github/workflows/branch-ci.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/issue-to-branch.yml.disabled
  .github/workflows/nightly-ci.yml
  .github/workflows/policy-checks.yml.disabled
  .github/workflows/pr-ci.yml
  .github/workflows/pr-merge.yml
  .github/workflows/pr-merge.yml.disabled
  .github/workflows/scheduled-auto-assign.yml.disabled
  .github/workflows/test-runner.yml.disabled
  Makefile
  README.md
  dev-log/operations/2025-10-08-ci-refactor.md
  docs/ops/ci.md
  package.json
  scripts/approve-copilot-prs.mjs
  scripts/assign-to-copilot.mjs
  scripts/auto-assign-new-issues.mjs
  scripts/configure-auto-approval.mjs
  scripts/create-and-assign-issue.mjs
  test/security/package.json
Labels: area:devops, area:docs, size:xs, size:s

docs: add CI refactor summary document and fix formatting
  .github/workflows/nightly-ci.yml
  .github/workflows/pr-ci.yml
  CI_REFACTOR_SUMMARY.md
  README.md
  dev-log/operations/2025-10-08-ci-refactor.md
  docs/ops/ci.md
Labels: area:devops, area:docs, size:xs, size:s

chore(sec): enforce least-privilege GITHUB_TOKEN permissions across workflows
  .github/workflows/auth-security-gates.yml
  .github/workflows/auth-security-ok.yml
  .github/workflows/auto-approve-actions.yml
  .github/workflows/delta-digest.yml
  .github/workflows/delta-notify.yml
  .github/workflows/delta-progress.yml
  .github/workflows/delta-report.yml
  .github/workflows/delta-scheduler.yml
  .github/workflows/dev-log-updater.yml
  .github/workflows/e2e.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/labels.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/nuclear-cleanup.yml
  .github/workflows/pr-ci.yml
  .github/workflows/preview-hosting.yml
  .github/workflows/push-diagnose.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/roadmap-to-issues.yml
  .github/workflows/ui-screenshots.yml
  .github/workflows/workflow-cleanup.yml
  .github/workflows/zeta-autodev.yml
  .github/workflows/zeta-autofix.yml
  .github/workflows/zeta-scan.yml
  package-lock.json
  package.json
  scripts/set-workflow-perms.mjs
Labels: area:devops

fix(deps): downgrade google_sign_in to ^6.2.2 for Flutter 3.24.3 compatibility
  pubspec.lock
  pubspec.yaml
Labels: area:frontend

fix(sec): restore required permissions for Firebase/Zeta/Delta workflows
  .github/workflows/auto-approve-actions.yml
  .github/workflows/delta-digest.yml
  .github/workflows/delta-progress.yml
  .github/workflows/delta-scheduler.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/nuclear-cleanup.yml
  .github/workflows/preview-hosting.yml
  .github/workflows/roadmap-to-issues.yml
  .github/workflows/workflow-cleanup.yml
  .github/workflows/zeta-autodev.yml
  .github/workflows/zeta-autofix.yml
  .github/workflows/zeta-scan.yml
  scripts/set-workflow-perms.mjs
Labels: area:devops

docs: add CI fix scratchpads for issues #98, #99, #100
  ops/ci/notes/feat-ci-hygiene-unified-pipeline.md
  ops/ci/notes/fix-ci-firebase-hosting-missing-flutter.md
  ops/ci/notes/fix-ci-google-sign-in-dart-sdk-mismatch.md
Labels: none

chore(ops): safe workflow cleanup - disable 3 redundant workflows
  .github/workflows/ci.yml.disabled
  .github/workflows/policy-checks.yml.disabled
  .github/workflows/push-diagnose.yml.disabled
  audit-data.json
  audit-output.txt
  audit-report.txt
  issue-ci-hygiene.md
  issue-firebase-hosting.md
  issue-google-sign-in.md
  main-runs.json
  ops/ci/notes/feat-ci-hygiene-unified-pipeline.md
  ops/ci/notes/fix-ci-firebase-hosting-missing-flutter.md
  ops/ci/notes/fix-ci-google-sign-in-dart-sdk-mismatch.md
  package.json
  pr-audit-comment.md
  pr-body-updated.md
  pr-checks.json
  scripts/audit-repo-cleanup.mjs
  scripts/baseline-audit.mjs
  scripts/pr-audit-comment.mjs
  scripts/safe-workflow-cleanup.mjs
Labels: area:devops, area:docs, size:xs

docs: add repository cleanup summary and rationale
  docs/ops/REPO_CLEANUP_SUMMARY.md
Labels: area:docs, size:s

fix(ci): add Flutter setup to Firebase hosting workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/preview-hosting.yml
Labels: area:devops

fix(ci): enable Flutter web platform in Firebase workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Labels: area:devops

fix(ci): remove --fatal-infos from flutter analyze
  .github/workflows/preview-hosting.yml
  .github/workflows/quality.yml
Labels: area:devops

fix(functions): remove unused config variable in webhook.ts
  functions/src/billing/webhook.ts
Labels: area:backend, size:l

fix(functions): exclude test files and tools from ESLint
  functions/eslint.config.js
Labels: area:backend

fix(ci): update Flutter to stable channel without version pin
  .github/workflows/branch-ci.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/preview-hosting.yml
  .github/workflows/test-runner.yml
  .github/workflows/zeta-autofix.yml
  .github/workflows/zeta-scan.yml
Labels: area:devops

chore(ops): enforce Local Gate pre-push (preflight + husky, CI parity)
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .vscode/tasks.json
  README.md
  dev-log/operations/2025-10-08-ops-localgate.md
  docs/ops/local-gate.md
  package-lock.json
  package.json
  scripts/preflight.mjs
Labels: area:docs, size:xs, size:s

chore(ops): enforce ZERO TOLERANCE policy (no errors, no warnings)
  .github/workflows/preview-hosting.yml
  .github/workflows/quality.yml
  .husky/pre-commit
  README.md
  dev-log/operations/2025-10-08-ops-localgate.md
  docs/ops/local-gate.md
  functions/package.json
  scripts/preflight.mjs
Labels: area:backend, area:devops, area:docs, size:xs, size:s

docs(ops): add ZERO TOLERANCE policy document
  docs/ops/ZERO_TOLERANCE.md
Labels: area:docs, size:s

docs: update ZERO TOLERANCE to require 100% test pass rate
  docs/ops/ZERO_TOLERANCE.md
  test/tools/id_gen_widget_test.dart
Labels: area:docs, size:s

feat: achieve 100% test pass rate (ZERO TOLERANCE compliance)
  functions/package.json
  test/tools/codec_lab/codec_lab_widget_test.dart
  test/tools/id_gen_integration_test.dart
  test/tools/id_gen_widget_test.dart
  test/tools/md_to_pdf/md_to_pdf_widget_test.dart
  test/tools/palette_extractor_widget_test.dart
  test/tools/password_gen/password_gen_widget_test.dart
  test/tools/regex_tester_widget_test.dart
  test/tools/url_short_widget_test.dart
Labels: area:backend

fix: resolve flaky UUID v7 sortable test (ZERO TOLERANCE)
  test/tools/text_tools_test.dart
Labels: none

fix(web): commit web/ source files for CI build
  .gitignore
  web/favicon.png
  web/index.html
  web/manifest.json
  web/robots.txt
  web/sitemap.xml
Labels: none

fix(ci): adjust bundle size budget to realistic 40MB
  .github/workflows/preview-hosting.yml
  .github/workflows/quality.yml
Labels: area:devops

fix(ci): add write permissions to ui-screenshots workflow
  .github/workflows/ui-screenshots.yml
Labels: area:devops

chore(ops): smart-throttle CI + local preflight enforcement
  .github/workflows/auto-pr.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/ops-cleanup.yml
  .github/workflows/preview-hosting.yml
  .github/workflows/quality.yml
  .github/workflows/ui-screenshots.yml
  .husky/pre-push
  package.json
  scripts/postflight.mjs
  scripts/preflight.mjs
Labels: area:devops

fix(auth): remove anonymous auth; use LandingPage + email-verify gate
  lib/main.dart
Labels: area:frontend, size:l

fix(auth): sign out anonymous/incomplete users automatically
  lib/main.dart
Labels: area:frontend, size:l

fix(auth): simplify AuthGate to prevent infinite loop
  lib/main.dart
Labels: area:frontend, size:l

fix(auth): restore proper auth flow with one-time signout logic
  lib/main.dart
Labels: area:frontend, size:l

fix: resolve auth flow and landing page rendering issues
  lib/main.dart
  lib/screens/landing/widgets/hero_section.dart
Labels: area:frontend, size:l

feat(ux): landing routes wired + test selectors (Phase 1/2)
  docs/tests/UX_SMOKE.md
  lib/core/routes.dart
  lib/marketing/features_screen.dart
  lib/marketing/pricing_screen.dart
  lib/screens/landing/widgets/hero_section.dart
  lib/screens/landing/widgets/landing_nav_bar.dart
  pubspec.lock
  pubspec.yaml
Labels: area:frontend, area:docs, size:s, size:l

feat(ux-01): automated UX smoke tests (Phase 2/2)
  .github/workflows/ux-smoke.yml
  docs/tests/UX_SMOKE.md
  scripts/preflight.mjs
  test/e2e/package.json
  test/e2e/playwright.config.ts
  test/e2e/ui-smoke.spec.ts
  test/golden/landing_golden_test.dart
  test/navigation/landing_nav_test.dart
Labels: area:devops, area:docs, size:s

fix: add const constructors to golden test Device widgets
  test/golden/landing_golden_test.dart
Labels: none

fix: add const constructors to navigation test MaterialApp widgets
  test/navigation/landing_nav_test.dart
Labels: none

fix: integrate ToolspaceRouter + document public dashboard access
  docs/tests/ACCESS_CONTROL_GUIDE.md
  docs/tests/NAVIGATION_AND_RESPONSIVE_REPORT.md
  lib/main.dart
Labels: area:frontend, area:docs, size:s, size:l

ops(prod): enable single-env production pipeline + hard gates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ops-cleanup.yml
  .github/workflows/prod-release.yml
  .github/workflows/staging-release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  PRODUCTION_CHECKLIST.md
  README.md
  docs/ENVIRONMENT.md
  docs/backend/API.md
  docs/backend/SETUP.md
  docs/backup-recovery.md
  docs/compliance/legal.md
  docs/development/coding-standards.md
  docs/ops/performance.md
  docs/support/troubleshooting.md
  functions/src/config/validation.ts
  functions/src/index.ts
  lib/auth/screens/account_screen.dart
  lib/core/routes.dart
  lib/marketing/features_screen.dart
  lib/marketing/pricing_screen.dart
  lib/screens/billing/billing_success_screen.dart
  lib/screens/landing/landing_page.dart
  lib/screens/landing/widgets/hero_section.dart
  lib/screens/landing/widgets/social_proof_section.dart
  local-ci/MISSION_ACCOMPLISHED.md
  local-ci/TEST_FAILURES_REPORT.md
  local-ci/WEB_BUILD_STATUS.md
  local-ci/ZERO_TOLERANCE_STATUS.md
  local-ci/analyze-full.txt
  local-ci/pr-ci-summary.json
  local-ci/summary.md
  scripts/release-check.mjs
  temp-issue-branch-protection.md
  temp-issue-secrets.md
  test/navigation/landing_nav_test.dart
Labels: area:backend, area:frontend, area:devops, area:docs, size:xs, size:s, size:l

chore: prepare v1.0.0 release
  CHANGELOG.md
Labels: area:docs, size:xs

fix: resolve YAML corruption in prod-release workflow
  .github/workflows/prod-release.yml
Labels: area:devops

feat: complete production-ready pipeline implementation
  .github/workflows/ops-cleanup.yml
  .github/workflows/prod-release.yml
  .github/workflows/staging-release.yml
  CHANGELOG.md
  DEPLOYMENT.md
  PRODUCTION_CHECKLIST.md
  functions/src/config/validation.ts
  functions/src/index.ts
  scripts/release-check.mjs
  temp-issue-branch-protection.md
  temp-issue-secrets.md
Labels: area:backend, area:devops, area:docs, size:xs, size:l

chore: auto-fix all withOpacity deprecations to withValues, prep for green CI
  .github/workflows/ops-cleanup.yml
  README.md
  lib/auth/helpers/reauth_helper.dart
  lib/auth/screens/signin_screen.dart
  lib/auth/screens/signup_screen.dart
  lib/auth/widgets/auth_form_field.dart
  lib/auth/widgets/auth_glass_panel.dart
  lib/auth/widgets/email_verification_dialog.dart
  lib/auth/widgets/google_sign_in_button.dart
  lib/billing/widgets/plan_status_banner.dart
  lib/billing/widgets/upgrade_sheet.dart
  local-ci/pr-ci-summary.json
  local-ci/summary.md
Labels: area:frontend, area:devops, area:docs, size:xs, size:l
