Repository bitquan/toolspace, changes with the labels that .github/labeler.yml gives for each.
All labels: tool:quick-invoice, tool:text-tools, tool:file-merger, area:backend, area:frontend, area:devops, area:docs, area:security, size:xs, size:s, size:l

.github/labeler.yml:

# Auto-labeling configuration for pull requests

# Tool-specific labels
tool:quick-invoice:
  - "tools/quick_invoice/**"
  - "docs/tools/quick_invoice.md"

tool:text-tools:
  - "tools/text_tools/**"
  - "docs/tools/text_tools.md"

tool:file-merger:
  - "tools/file_merger/**"
  - "docs/tools/file_merger.md"

# Area labels
area:backend:
  - "functions/**"
  - "firebase.json"
  - "firestore.rules"
  - "firestore.indexes.json"
  - "storage.rules"

area:frontend:
  - "lib/**"
  - "core/**"
  - "pubspec.yaml"

area:devops:
  - ".github/**"
  - "firebase.json"

area:docs:
  - "docs/**"
  - "*.md"
  - "README.md"

area:security:
  - "firestore.rules"
  - "storage.rules"
  - "functions/src/middleware/**"
  - "functions/src/util/guards.ts"

# Size estimation based on file patterns
size:xs:
  - "*.md"
  - ".github/ISSUE_TEMPLATE/**"

size:s:
  - "docs/**"
  - any: ["*.md", "*.yml", "*.yaml", "*.json"]

size:l:
  - "functions/src/**"
  - "lib/**"
  - "core/**"

Phase 3 post-completion updates and v4 foundation setup
  PHASE3_COMPLETION_REPORT.md
  auto_update_recent_user.cjs
  config/pricing.json
  dev-log/PHASE3_WRAPUP.md
  find_recent_user.cjs
  functions/package-lock.json
  functions/package.json
  lib/billing/billing_service.dart
  package-lock.json
  package.json
  pro_plan_update.json
  recent_users.json
  target_user_id.txt
  temp_update_plan.js
  update_plan.ps1
  update_plan_smart.js
  users.json
Labels: area:backend, area:frontend, area:docs, size:xs, size:l

fix(billing): resolve webhook signature verification and data parsing issues
  firestore.rules
  functions/src/billing/createCheckoutSession.ts
  functions/src/billing/webhook.ts
  functions/src/index.ts
  lib/billing/billing_service.dart
  lib/billing/billing_types.dart
  lib/main.dart
Labels: area:backend, area:frontend, area:security, size:l

fix(hosting): switch from experimental Flutter web framework to static hosting
  firebase.json
Labels: area:backend, area:devops

feat(auth): enhance email verification screen with auto-refresh improvements
  lib/auth/screens/email_verification_screen.dart
Labels: area:frontend, size:l

docs: complete freemium strategy implementation and documentation update
  README.md
  dev-log/2025-10-phase4-local.md
  dev-log/modular-vats-implementation-2025-10-11.md
  docs/DOCUMENTATION_SUMMARY.md
  docs/PROJECT_STATUS_SUMMARY.md
  docs/epics/README.md
  docs/epics/modular-vats-architecture.md
  docs/strategies/guest-usage-strategy.md
  docs/tools/audio-transcriber.md
  docs/tools/subtitle-maker.md
  docs/tools/video-converter.md
  lib/billing/billing_types.dart
  lib/billing/credits_service.dart
  lib/core/routes.dart
  lib/core/ui/neo_playground_theme.dart
  lib/main.dart
  lib/screens/landing/landing_page.dart
  lib/screens/landing/widgets/free_tools_section.dart
  lib/screens/neo_home_screen.dart
  lib/tools/audio_transcriber/audio_transcriber_screen.dart
  lib/tools/audio_transcriber/audio_transcriber_service.dart
  lib/tools/subtitle_maker/subtitle_maker_screen.dart
  lib/tools/subtitle_maker/subtitle_maker_service.dart
  lib/tools/video_converter/video_converter_screen.dart
  lib/tools/video_converter/video_converter_service.dart
  pubspec.lock
  pubspec.yaml
Labels: area:frontend, area:docs, size:xs, size:s, size:l

feat: Enable freemium strategy with guest user access
  lib/billing/billing_service.dart
  lib/screens/landing/widgets/hero_section.dart
Labels: area:frontend, size:l

fix: Color Palette Extractor file picker - change FileType.image to FileType.custom
  lib/tools/palette_extractor/palette_extractor_screen.dart
Labels: area:frontend, size:l

fix(e2e): update Playwright tests for Flutter web app compatibility
  e2e/auth.e2e.spec.ts
  e2e/billing-link.e2e.spec.ts
  e2e/billing.spec.ts
  e2e/link-anon.e2e.spec.ts
  e2e/smoke.spec.ts
  e2e/tools-gating.e2e.spec.ts
  playwright.config.ts
Labels: none

📋 Add comprehensive status documentation
  IMPLEMENTATION_SUMMARY.md
  NEO_UI_COMPLETE.md
  TOOLSPACE_STATUS_SUMMARY.md
Labels: area:docs, size:xs
